

body:has( div > #mocking-body) {
    margin: 0;
}

#mocking-body .text {
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
}

#mocking-body .default-font {
    font-family: 'Courier New', Courier, monospace;
}

#mocking-body .default-font-size {
    font-size: 16px;
}

#mocking-body .flex-column {
    display: flex;
    flex-direction: column;    
}

#mocking-body .justify-between {
    justify-content: space-between;
}

#mocking-body .flex {
    display: flex;
}

#mocking-body .align-center {
    align-items: center;
}

#mocking-body .sub-title {
    font-size: 18px;
    font-weight: normal;
}

#mocking-body .bold {
    font-weight: bold;
}

#mocking-body .error-message {
    color: var(--analogus-first);
}